/*Importando fuentes*/
@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed:400,600&display=swap');
/*asignar qué hace mi clase*/

.hide {
  display: none;
}

/*Determinar estilos por seccion*/
body {
  background-color: #c7eee1;
  width: 100%;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  text-align: center;
}

main {
  margin: 20px 5%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #fcffff;
}

hr {
  height: 3px;
  background-color: #666666;
  border: none;
}
/*primera seccion*/

h1 {
  text-align: center;
  font-size: 3em;
  color: #179c86;
  padding: 0;
  margin: 1em, 2 em, 0em;
}

h2 {
  text-align: center;
  font-size: 2em;
  color: #064044;
  padding: 0;
  margin: 0em, 2 em, 1em;
}
img#img-central{
  width: 50%;
  height: 50%;
}

p.subtitle {
  text-align: justify;
}

article {
  text-align: center;
  font-size: 1em;
  color: #064044;

}

b {
  color: #097579;
}

div#box-1{
  background-color: #fcffff;
  display: flexbox
}


/*segunda seccion*/

p#content-1 {
  text-align: center center;
  align-content: center center;
  width: 600px;
  height: 180px;
  background: url(logo-marca-letra-m.png);
  background-position: center center;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  margin: auto;
}

input#text-input {
  width: 600px;
  height: 180px;
  background-color: #fcffff;
  position: center center;
  margin: auto;
  border: hidden;
}

input#text-input:focus {
  background-color: ;#fcffff;
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 0px;
}

::placeholder { background-color: #fcffff;
  font-family:'Fira Sans Extra Condensed', sans-serif;
  text-align: center;
  font-size: 2em;
  letter-spacing: 20px;
}

button#button-metamorfosis {
  background-color: #fcffff;
  color: #666666;
  font-family:'Fira Sans Extra Condensed', sans-serif;
  font-size: 200%;
  letter-spacing: 15px;
  width: 100%;
  height: 100px;
  border: hidden;
  margin: auto
}

button#button-metamorfosis-back {
  background-color: #fcffff;
  color: #666666;
  font-family:'Fira Sans Extra Condensed', sans-serif;
  font-size: 200%;
  letter-spacing: 15px;
  width: 100%;
  height: 100px;
  border: hidden;
}

button#button-metamorfosis:focus,
button#button-metamorfosis-back {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 0px;
}

label#label-key{
  font-family:'Fira Sans Extra Condensed', sans-serif;
  color: #666666;
  font-size: 100%;
  letter-spacing: 3px;
}
input#select-key{
  text-align: center;
  font-family:'Fira Sans Extra Condensed', sans-serif;
  color: #666666;
  font-size: 100%;
  width: 38px;
  height: 18px;
}

button#button-code,
button#button-decode,
button#button-copy,
button#button-clear {
  background-color: #fcffff;
  color: #666666;
  font-family:'Fira Sans Extra Condensed', sans-serif;
  font-size: 100%;
  letter-spacing: 3px;
  width: 70px;
  height: 18px;
  border: hidden;
}
button#button-code:focus,
button#button-decode {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 0px;
}

span#l-1{
  background-color: #fcffff;
  color: #666666;
  font-family:'Fira Sans Extra Condensed', sans-serif;
  margin-left: 20px;
  margin-right: 10px;  
}

span{
  background-color: #fcffff;
  color: #666666;
  font-family:'Fira Sans Extra Condensed', sans-serif;
  margin-left: 10px;
  margin-right: 10px;  
}

p#footer{
  font-family:'Fira Sans Extra Condensed', sans-serif;
  color: #666666;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 10px;
}